@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Montserrat;
  }
}

@layer components {
  .w-main {
    @apply w-11/12 max-w-[72rem];
  }

  .btn {
    @apply bg-accent-1 w-fit mx-auto px-4 py-3 rounded-xl text-lg shadow-md flex
      sm:px-6 sm:py-5 sm:text-xl
      lg:text-2xl
      hover:bg-accent-1-hover hover:scale-105 transition-all;
  }

  .trans-wave {
    @apply w-[110%] bg-no-repeat bg-center bg-cover -mb-1 -mx-4;
  }

  .wave-1 {
    @apply aspect-[2560/100] bg-[url('$lib/svg/WaveTransition1.svg')] -mt-10;
  }

  .wave-2 {
    @apply aspect-[512/9] bg-[url('$lib/svg/WaveTransition2.svg')] -mt-4;
  }

  .link-nav {
    @apply text-neutral-1 sm:text-xl hover:text-header-1 transition-all;
  }

  .text-h1 {
    @apply text-center font-medium text-4xl sm:text-5xl lg:text-7xl;
  }

  .text-h2 {
    @apply text-center text-xl sm:text-2xl lg:text-3xl;
  }

  .text-h3 {
    @apply text-center text-xl lg:text-2xl;
  }
}